$font-stack : Helvetica,
sans-serif;
$primary-color: rgb(186, 186, 230);
$sand-color: #8c8478;
$water-color-one: #6aaece;
$water-color-two: #2b8fbf;
$sun-color: #e8bfbf;

@keyframes water {
    0% {
        transform: rotate(3deg)
    }
    25% {
        transform: rotate(4deg)
    }
    50% {
        transform: rotate(6deg)
    }
    75% {
        transform: rotate(4deg)
    }
    100% {
        transform: rotate(3deg)
    }
}
@keyframes sun {
    0% {
        transform: translate3d(-70px, -70px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(130px, 130px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(300px, 300px, 0px);
    }
}




body {
    font: 100% $font-stack;
    color: $primary-color;
    background: linear-gradient(45deg, #181a1f, #775AB2);
}
.sand {
    background-color: $sand-color;
    width: 120%;
    height: 330px;
    position: fixed;
    bottom: -73px;
    margin: 0;
    left: -148px;
    border-radius: 70%;
    z-index: 1;
}
.water-container {
    width: 100%;
}
.water-one {
    width: 599px;
    height: 300px;
    background-color: $water-color-one;
    position: fixed;
    bottom: 82px;
    left: -82px;
    border-radius: 100%;
    animation: water;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.water-two {
   width: 599px;
   height: 300px;
   background-color: $water-color-two;
   position: fixed;
   bottom: 55px;
   left: 161px;
   border-radius: 100%;
   z-index: -1;
   animation: water;
   animation-duration: 6s;
   animation-iteration-count: infinite;

}
.water-three {
    width: 599px;
    height: 200px;
    background-color: $water-color-one;
    bottom: 179px;
    position: fixed;
    left: 400px;
    z-index: -2;
    border-radius: 100%;
    animation: water;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}
.water-four {
   width: 599px;
   height: 220px;
   background-color: #44a2d0;
   position: fixed;
   bottom: 122px;
   right: 232px;
   border-radius: 100%;
   animation: water;
   animation-duration: 6s;
   animation-iteration-count: infinite;

}
.water-five {
    width: 599px;
    height: 245px;
    background-color: $water-color-one;
    position: fixed;
    bottom: 132px;
    right: -94px;
    z-index: 0;
    border-radius: 100%;
    animation: water;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}
.water-six {
    width: 599px;
    height: 220px;
    background-color: #279dd6;
    position: fixed;
    bottom: 102px;
    left: -34px;
    border-radius: 100%;
    animation: water;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}
.water-seven {
    width: 599px;
    height: 220px;
    background-color: #279dd6;
    position: fixed;
    bottom: 107px;
    right: -20px;
    z-index: 0;
    border-radius: 100%;
    animation: water;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}
.sun {
    height: 200px;
    width: 200px;
    background-color: $sun-color;
    position: fixed;
    bottom: 42%;
    left: 138px;
    z-index: -2;
    border-radius: 50%;
    animation: sun;
    animation-iteration-count: infinite;
    transition: transform .1s ease-in-out;
    animation-duration: 25s;

    // animation-timing-function: ease-in;





}
